* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;

  background: radial-gradient(#fff, #ebebeb);

  font-family: 'Geo', sans-serif;
  font-size: 4vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  background: linear-gradient(45deg, red, blue);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  border-right: 2px solid red;

  white-space: nowrap;
  overflow: hidden;

  width: 0;
}

.text--animation {
  animation: blinkcursor 0.45s steps(40) infinite normal, type 4.5s steps(40) 1s normal, breack 4.5s steps(40) 6s normal;
  animation-fill-mode: forwards;
}

.ty {
  animation: blinkcursor 0.45s steps(40) infinite normal, ty 2s steps(40) 11s normal;
  animation-fill-mode: forwards;
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 81vw;
  }
}

@keyframes blinkcursor {
  from {
  border-right: 2px solid red;
  }
  to {
    border-right: transparent;
  }
}

@keyframes breack {
  from {
    width: 81vw;
  }
  to {
    width: 0;
  }
}
