* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;

  font-family: 'Kumbh Sans', sans-serif;
  font-size: 3vw;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 37.5vw;
  background: #121839;
  padding: 1.2vw;

  cursor: pointer;

  position: relative;
}
.arrow {
  position: absolute;
  
  width: 7vw;
  height: 2px;

  background: #fff;
  top: 50%;
  right: 0;

  transition: all 0.4s ease;

}

.arrow::after {
  content: '';
  position: absolute;
  right: -5px;
  top: -5px;

  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;
}

.arrow--first {
  position: absolute;

  width: 5vw;
  height: 2px;

  background: #121839;
  top: 50%;
  right: -5vw;

  transition: all 0.4s ease;
}

.arrow--first::after {
  content: '';
  position: absolute;
  right: -5px;
  top: -5px;

  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #121839;
}

.content:hover > .arrow--first {
  transform: translate(100px);
  opacity: 0;
}

.content:hover > .arrow {
  transform: translate(6vw);
  background: #121839;
}
.content:hover > .arrow::after {
  border-left: 6px solid #121839;
}
@keyframes flash {
  0% {
    width: 7vw;
  }
  50% {
    width:0 ;
  }
  100% {
    width: 7vw;
  }
}