* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(45deg, #f0f0f0, #c5c5c5);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 35vw;
  height: 20vh;
  background: #fafafa;

  border-radius: 20px;
  box-shadow: 0 0 30px #c5c5c5;

  .content {

    & .fab {
      opacity: 0.1;
      transition: all 0.5s ease;

      & {
        // background: #000;
        font-size: 4vw;
      
        padding: 1vw;
        margin: 0 1vw;
      
        border: 0.5vw solid #00000050;
        border-radius: 50% ;
      
        cursor: pointer;
      
        &:hover {
          opacity: 1 !important;
          scale: 1.05;

        }
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

$colors: 1 #EA4C89, 2 #00ACEE, 3 #DD2A7B;

@each $i in $colors {
  .content .fab:nth-child(#{nth($i, 1)}):hover {
    color: nth($i, 2);
    border-color: nth($i, 2);
    box-shadow: 0 0 30px #d3d3d3
  }
}