* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16pt;
  font-family: 'Roboto';
}

header {
  width: 95px;
  height: 100vh;
  background: #222;
  color: white;
}

header input[type=text] {
  width: 0;
  visibility: hidden;
  padding: 8px;
  border: none;
  border-radius: 20px;
  background: rgba(51, 51, 51, 0.5);
  color: white;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

header span {
  visibility: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

header #nome {
  display: none;
}

header .profile__img {
  visibility: visible;
}

header:hover {
  width: 300px;
}

header:hover input[type=text] {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
}

header:hover span {
  visibility: visible;
}

header:hover #nome {
  display: inline;
}

header:hover .content__head {
  margin: 95px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

.content {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__head {
  margin: 95px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

.container__search {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px auto;
      grid-template-columns: 40px auto;
  margin: 0px 0px 25px;
}

.container__search i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0077FF;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.container__people {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px auto;
      grid-template-columns: 40px auto;
  margin: 0px 0px 25px;
}

.container__people i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0077FF;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.saves__favs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px auto;
      grid-template-columns: 40px auto;
  margin: 0px 0px 25px;
}

.saves__favs i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0077FF;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.saves__work {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px auto;
      grid-template-columns: 40px auto;
  margin: 0px 0px 25px;
}

.saves__work i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0077FF;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.saves__up {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px auto;
      grid-template-columns: 40px auto;
  margin: 0px 0px 25px;
}

.saves__up i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0077FF;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.adds__plugins {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px auto;
      grid-template-columns: 40px auto;
  margin: 0px 0px 25px;
}

.adds__plugins i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0077FF;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.adds__notif {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px auto;
      grid-template-columns: 40px auto;
  margin: 0px 0px 25px;
}

.adds__notif i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0077FF;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.profile {
  font-size: 0.8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}

.profile__img {
  background-image: url("https://images.unsplash.com/photo-1545682113-be24ae6223d7");
  background-size: cover;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.profile__img::after {
  content: '';
  width: 8px;
  height: 8px;
  background: #09bb21;
  position: absolute;
  border-radius: 50%;
  top: 2px;
  right: 5px;
}

.profile h1 {
  margin: 0 15px;
}
/*# sourceMappingURL=main.css.map */