* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;

  font-family: 'Kumbh Sans', sans-serif;
  font-size: 4vw;

  overflow: hidden;
  position: relative;
}
.fullScreen {
  width: 100vw;
  height: 100vh;

  
  display: flex;
  align-items: center;
  z-index: 0;
}
.content {
  position: absolute;
  z-index: 1;
  top: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;

  background: rgba(0, 0, 0, 0.2);
  
}

.content h2 {
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #f5f5f5;

  width: 900px;
  margin: auto;
}
