* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Kumbh Sans', sans-serif;
  font-size: 3vw;
  color: #fff;
}
body {
  height: 100vh;

  background: #222;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.front {
  margin-bottom: 2.5vh;
  width: 60vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.front h2 {
  text-align: center;
}

.div {
  content: '';
  width: 9vw;
  height: 1vh;
  background: #50fa7b;
  margin: 1vh;
  border-radius: 20px;
}

.front p {
  font-size: 1vw;

}

#svg {
  width: 50vw;
  height: auto;
}

#status {
  animation: width 1s ease infinite alternate;
}

#text {
  animation: width 1.2s ease infinite alternate;
}

#text_2 {
  animation: width 1.2s 0.4s ease infinite alternate;
}

#text_3 {
  animation: width 0.8s ease infinite alternate;
}

#text_4 {
  animation: width 1s 0.4s ease infinite alternate;
}

#header__status--2 {
  animation: width 1s ease infinite alternate;
}

#header__status--1 {
  animation: width 1.5s ease infinite alternate;
}

#infos__profile--bot {
  animation: width 1.3s ease infinite alternate; 
}

#infos__profile--bot_2 {
  animation: width 1.1s ease infinite alternate;
}

#infos__profile--top {
  animation: width 1.5s ease infinite alternate; 
}

#infos__profile--top_2 {
  animation: width 1.1s 0.4s ease infinite alternate;
}

@keyframes width {
  from {
    width: 98px;
  }
  to {
    width: 20px;
  }
}

#bar {
  animation: heigth 1s ease infinite alternate;
}

@keyframes heigth {
  from {
    height: 414px;
  }
  to {
    height: 470px;
  }
}