* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto';
  font-size: 1vw;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
  color: #f5f5f5;
}

.fas {
  -webkit-transition: 0.3s cubic-bezier(0.41, -0.07, 0, 1.94);
  transition: 0.3s cubic-bezier(0.41, -0.07, 0, 1.94);
  font-size: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container [class*="container__"] {
  width: 100px;
  height: 100px;
  margin: 0 3rem;
  border-radius: 50%;
  background: #fff;
  color: #222;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__heart {
  border: #CE99FF 6px solid;
  cursor: pointer;
  -webkit-transition: 0.5s cubic-bezier(0.41, -0.07, 0, 1.94);
  transition: 0.5s cubic-bezier(0.41, -0.07, 0, 1.94);
}

.container__heart:hover {
  -webkit-box-shadow: -4px 0 20px #0000003f;
          box-shadow: -4px 0 20px #0000003f;
  width: 110px;
  height: 110px;
}

.container__heart:hover > .fas {
  font-size: 3.5rem;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  color: #f38282;
}

.container__balloon {
  border: #75f5c0 6px solid;
  cursor: pointer;
  -webkit-transition: 0.5s cubic-bezier(0.41, -0.07, 0, 1.94);
  transition: 0.5s cubic-bezier(0.41, -0.07, 0, 1.94);
}

.container__balloon:hover {
  -webkit-box-shadow: -4px 0 20px #0000003f;
          box-shadow: -4px 0 20px #0000003f;
  width: 110px;
  height: 110px;
}

.container__balloon:hover > .fas {
  font-size: 3.5rem;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  color: #82a6f3;
}

.container__message {
  border: #f38282 6px solid;
  cursor: pointer;
  -webkit-transition: 0.5s cubic-bezier(0.41, -0.07, 0, 1.94);
  transition: 0.5s cubic-bezier(0.41, -0.07, 0, 1.94);
}

.container__message:hover {
  -webkit-box-shadow: -4px 0 20px #0000003f;
          box-shadow: -4px 0 20px #0000003f;
  width: 110px;
  height: 110px;
}

.container__message:hover > .fas {
  font-size: 3.5rem;
  color: #f3f182;
}

@media (prefers-reduced-motion: reduce) {
  *, ::before, ::after {
    -webkit-animation-delay: -1ms !important;
            animation-delay: -1ms !important;
    -webkit-animation-duration: 1ms !important;
            animation-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    -webkit-transition-duration: 0s !important;
            transition-duration: 0s !important;
    -webkit-transition-delay: 0s !important;
            transition-delay: 0s !important;
  }
}
/*# sourceMappingURL=main.css.map */