@keyframes box3 {
  0% {
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
  }
  12.5% {
    right: 0px;
    bottom: 0px;
    width: 60px;
    height: 30px;
  }
  25% {
    right: 30px;
    bottom: 0px;
    width: 30px;
    height: 30px;
  }
  32.5% {
    right: 30px;
    bottom: 0px;
    width: 30px;
    height: 60px;
  }
  50% {
    right: 30px;
    bottom: 30px;
    width: 30px;
    height: 30px;
  }
  62.5% {
    right: 0px;
    bottom: 30px;
    width: 60px;
    height: 30px;
  }
  75% {
    right: 0px;
    bottom: 30px;
    width: 30px;
    height: 30px;
  }
  87.5% {
    right: 0px;
    bottom: 0px;
    width: 30px;
    height: 60px;
  }
  100% {
    right: 0px;
    bottom: 0px;
    width: 30px;
    height: 30px;
  }
}