*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: 'Roboto';
}

body {
  background: linear-gradient(50deg, #4ea8de, #5e60ce);
  
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter {
  background: linear-gradient(125deg, #56cfe1, #06d6a0);

  width: 500px;
  padding: 60px;
  text-align: center;
  box-shadow: 0 0 20px #00000060;
}

.newsletter h1 {
  text-transform: uppercase;
  line-height: 3vw;
  font-size: max(30px, 4vw);
  color: #fff;
}
.newsletter h1 span {
  display: block;
  font-size: 3vw;
}
.newsletter p {
  color: #fff;
  font-size: 14p;
  margin: 20px 0;
}

.txtb {
  width: 100%;
  height: 70px;

  background: #f1f1f199;
  border-radius: 40px;
  margin-top: 40px;

  position: relative;
}

.txtb input {
  width: 100%;
  height: 70px;

  border-radius: 40px; 
  border: 0;

  background: none;

  padding: 0 30px;
  padding-right: 80px;

  outline: none;

  color: #fff;
  font-size: 15px;
}

.txtb button {
  width: 50px;
  height: 50px;

  background: #4ea8de;
  color: #fff;
  
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 10px;
  right: 10px;

  outline: none;
  cursor: pointer;

  transition: 0.3s linear;
}

.txtb button:hover{
  opacity: 0.5;
}