// <--- Colors ---> //

$bg_header: #22242A;
$bg_saidbar: #2F323A;
$bg_turquesa: #19B3D3;
$color_span: #1DC4E7;
$color_font: #fff;

// <---Cold---> //

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;

    font-family: 'Roboto';
}
header {
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 20px;
    background: $bg_header;
}

.left__area{
    & h3 {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 900;
        color: $color_font;
        margin: 0;
    }
    & span {
        color: $color_span;
    }
}

.logout_btn {
    float: right;
    margin: top;
    padding: 5px;
    margin-top: -30px;
    margin-right: 40px;

    background: $bg_turquesa;

    color: $color_font;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;

    transition: 0.5s;

    // border-radius: 2px;
    &:hover {
        background: $color_span;
    }
}

.sidebar {
    background: $bg_saidbar;

    overflow: hidden;

    margin-top: 60px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;

    transition: .5s;
    transition-property: left;

    &__profile {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        margin-bottom: 10px;
    }

    & h4 {
        color: $color_font;
        margin-top: 0;
        margin-bottom: 20px;
    }
    & a {
        display: block;
        width: 100%;

        text-decoration: none;
        color: $color_font;
        line-height: 60px;

        padding-left: 40px;
        box-sizing: border-box;

        transition: 0.5s;
        &:hover {
            background: $bg_turquesa;
        }
    }
    & i {
        padding-right: 10px;
    }
}

label #sidebar_btn {
    position: fixed;
    z-index: 1;
    left: 300px;

    cursor: pointer;

    color: $color_font;
    font-size: 20px;

    margin: 5px 0;

    transition: 0.5s;

    &:hover {
        color: $bg_turquesa;
    }

}

#check:checked ~ .sidebar {
    left: -190px;
    & a {
        font-size: 20px;
        margin-left: 170px;
        width: 80px;

        & span {
            display: none;
        }
    }
}

.content {
    margin-left: 250px;
    background: url(https://images.unsplash.com/photo-1520103713487-e668554445c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1402&q=80) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;

    transition: 0.5s;
    transition-property: margin-left;
}

#check {
    display: none;
    &:checked ~ .content {
        margin-left: 60px;
        
    }
}