* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;

  font-size: 1vw;
}
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle__ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 250px;
  height: 250px;

  border: 8px solid #48d9f3;
  border-radius: 50%;
}

iframe::after {
  position: absolute;
  top: 0;

  content: '';
  width: 225px;
  height: 225px;

  border: 8px solid #8165c2;
  border-radius: 50%;
}