* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #fff  ;
}
.circle {
  position: absolute;
  width: 25vw;
  height: 25vw;
  background: #ccc;
  border: 18px solid #fff;
  box-shadow: 0 0 0 12px #4973ff;
  border-radius: 50%;
  overflow: hidden;
  .wave {
    position: relative;
    width: 100%;
    height: 100%;
    background: #4973ff;
    border-radius: 50%;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .3);
  }
  &::before,
  &::after {
    content: '';

    position: absolute;
    width: 200%;
    height: 200%;

    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
  }
  &::before {
    border-radius: 45%;
    background: rgba(255, 255, 255, 1);
    animation: animate 10s linear infinite;
  }
  &::after {
    border-radius: 40%;
    background: linear-gradient(rgb(245, 134, 7), rgb(255, 190, 12));
    animation: animate 5s infinite alternate  ;
  }
}

@keyframes animate {
  from {
    transform: translate(-50%, -100%) rotate(0);
  }
  to {
    transform: translate(-50%, -55%) rotate(360deg);
  }
}