@mixin gridalign {
  display: grid;
  grid-template-columns: 30px auto;
  background: #000;
  i {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input[type=text] {
  border: none;
  width: 200px;
  background: #333;
  color: white;
}

header {
  max-width: 400px;
  height: 100vh;
  
  background:#222;
  color: white;
}

.content {
  position: absolute;
  top: 20vh;
}

.container{
  &__search {
    @include gridalign();
  }
  &__people {
    @include gridalign();
  }
}

.saves {
  &__favs {
    @include gridalign();

  }
  &__work {
    @include gridalign();
    
  }
  &__up {
    @include gridalign();
  }
}

.adds {
  &__plugins {
    @include gridalign();
  }@include gridalign();
  &__notif {

  }
}